/***** BASE STYLES *****/
/***** font-family: 'Source Sans Pro', sans-serif; *****/
/***** font-family: 'Lora', serif; *****/
/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    --light-blue: #45567da8;
    --light-red: #be3144a8;
  }

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2b2b2b;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/***** HEADER *****/

header {
    height: 800px;
    background: url(https://matthewpco.github.io/Jubilee-Design/img/full-background.png);
    background-position: center;
    background-size: cover;
}

header h1 {
    padding:  65px 0 65px 25px;
    font-family: 'Lora', serif;
    color: #bbc085;
    font-size: 30px;
}

nav {
    float: right;
    padding: 75px 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    padding-left: 60px;
    
}

header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif;
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;

}

header span {
    color: #2b2b2b;
}

/***** ABOUT *****/

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-size: 36px;
    padding-left: 50px;
    font-family: 'Lora', serif;
}

#about p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    padding: 0 50px 0 50px;
}

/***** WORK *****/

#work {
    text-align: center;
    background-color: #f9ceb7;
}

#work .full-width {
    padding: 115px 0;
}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    width: 190px;
    margin: 0 auto;
    line-height: 32px;
}

#work p {
    padding: 0 50px;
    font-family: 'Lora', serif;
    line-height: 30px;
}

/***** PROJECTS *****/

/* Projects section */

#projects {
    background-color: #fff;
}

.projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: #e3e3e3;
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 2px solid #828282;
    font-size: 28px;
    font-family: 'Lora', serif;
    color: #2b2b2b;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  /* "Automagic" image grid using no media queries */

  #projects ul {
        list-style: none;
  }

  #projects a {
        text-decoration: none;
        color: #2b2b2b
  }

  #projects img {
        display: block;
        width: 100%;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
  }
  
  @media (max-width: 1199px) {
    .projects-section {
        padding-left: 25%;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: #ebebeb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    transition: background 0.3s ease-out;
  }
  
  .code {
    color: #bbc085;
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #2b2b2b;
  }

  .project:hover {
    background: #dcdcdc;
    
  }
  
  .project-image {
    width: 100%;
    object-fit: fill;
    border-radius: 3px;
    
  }
  
  .project-title {
    font-size: 22px;
  }
  
  .project-tile {
    border-radius: 3px;
    box-shadow: 0px 3px 7px rgba(0, 0,0,0.3);
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
    border-radius: 10px;
    color: #bbc085;
  }
  
  .btn-show-all {
    font-size: 22px;
    background: #ebebeb;
    color: #2b2b2b;
    transition: background 0.3s ease-out;
    box-shadow: 0px 3px 7px rgba(0, 0,0,0.3);
  }
  
  .btn-show-all:hover {
    background: #dcdcdc;
  }
  
  .btn-show-all:hover > i {
    transform: translateX(3px);
  }
  
  .btn-show-all > i {
    margin-left: 10px;
    transform: translateX(0);
    color: #2b2b2b;
    transition: transform 0.2s ease-out;
  }
  #chevron {
      color: #bbc085;
  }

/***** CONTACT *****/

#contact {
    background-color: #ebebeb;
}

#contact .full-width {
    padding: 110px 0;
}

#contact #contact-img {
    border: 12px solid white;
    margin-left: 25px;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}

#contact #envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-size: 36px;
    line-height: 44px;
    font-family: 'Lora', serif;
}

#email-header {
    font-size: 32px;
    line-height: 44px;
    font-weight: 400;
    margin: -30px 0 5px 0;
}

#socialmedia-header {
    font-size: 28px;
    font-weight: 700;
    line-height: 44px;
    margin: 40px 0 0 0;
}

#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: 700;
    font-size: 22px;
}

#contact ul {
    list-style: none;
}

#contact ul li {
    display: inline-block;
}

#contact ul img {
    padding-right: 20px;
}

/***** RESPONSIVENESS *****/

@media (max-width: 1199px) {
    header {
        width: fit-content;
    }

    #work {
        width: fit-content;
    }

    #contact {
        width: fit-content;
    }
}